div.box{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 100vw;
}
div.container{
    height: 400px;
}
nav.navbar{
    width: 100vw;
}
button.btn.btn-danger{
    margin: 0 8px;
}
button.btn.btn-outline-secondary{
    margin: 0 8px;
}
/* div.col-md-7{
    display: flex;
    justify-content:;
    align-items: center;
} */